node_modules
.env
.env.*
!.env.example
.env.docker.live
**/.env.local
**/.env.*.local
apps/api/dist
apps/api/node_modules
apps/api/.turbo
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/web/.next
apps/web/node_modules
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.pem
**/*.key
**/*.crt
**/*.p12
**/*.log
